<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- base-package 설정위치 포함 하위 패키지 모두 검색 처리
		여러개 선언해도 되고, 구분자(빈칸, 콤마, 세미콜른 등) -->
	<context:component-scan base-package="com.spring.biz.member.impl"/>
	<context:component-scan base-package="com.spring.biz.member" />
	<context:component-scan base-package="com.spring.biz.match" />
	<context:component-scan base-package="com.spring.biz.board" />
	<context:component-scan base-package="com.spring.biz.rboard" />
	<context:component-scan base-package="com.spring.biz.notiboard" />
	<context:component-scan base-package="com.spring.biz.faqboard" />
	
	<!-- === Spring JDBC 관련 설정 ===== -->
	<!-- DataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
			destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.18.30:1521:xe" />
		<property name="username" value="AMANNA" />
		<property name="password" value="amanna" />
	</bean>

	<!-- 스프링 JDBC : JdbcTemplate 객체 생성 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- ============================ -->
	<!-- 마이바티스-스프링 연동 설정 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mappings/**/*Mapper.xml"></property>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	
	
</beans>









