@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*    <div class="top_gnb"> */
#line {
  text-decoration: none;
  text-align: center;
}
a {
  text-decoration: none;
}

.top_gnb {
  height: 35px;
  border-bottom: 1.5px solid #ffdcdc;
}
.body_wrap1 {
  width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5px;
  /*=> 가운데정렬위치 */
}

#login {
  font-size: 16px;
  color: #ff93a2;
  text-decoration: none;
  margin: 10px;
  font-family: "GowunBatang-Regular";
}



#joinbtn {
  font-size: 16px;
  color: #6d7278;
  background-color: #fd8f9f;
  color: #fff;
  text-decoration: none;
  padding: 11px;
  font-family: "GowunBatang-Regular";
}
.mungu {
  color: #aaa1a3;
  font-size: 14px;
  font-family: "GowunBatang-Regular";
}
/* 하단부분 헤더--------------------------------------------------------------------- */
.body_wrap2 {
  width: 1280px;
  margin: 0 auto;
}
h1 {
  width: 230px;
}
/* 점 없애기 */
ol,
ul {
  list-style: none;
}

#titleimg {
  width: 150px;
  margin-bottom: 5px;
}
nav {
  display: flex;
  align-items: center;
  height: 70px;
}
.header_wrap {
  padding-top: 10px;
  border-bottom: 1.5px solid #ffdcdc;
  width: 100%;
}

.mainnav1 li {
  line-height: 30px;
  width: 200px;
  text-align: center;

  /* cursor: pointer; */
}

.site_nav > li > a {
  text-align: center;
}

.site_nav li a:hover {
  color: rgb(255, 149, 149);
  font-weight: bold;
}

.site_nav {
  display: none;
  text-align: center;
  background-color: #ffdcdc;
  position: absolute;
  top: 86px;
  width: 160px;
}

.site_nav > li {
  width: 200px;
}
.site_nav > li > a {
  margin-left: -40px;
  font-size: 14px;
  color: #333333;
  font-family: "GowunBatang-Regular";
  /* text-align: center; */
}

.subnav {
  display: flex;
  padding: 0 0 0 200px;
  font-size: 16px;
  color: #333333;
  font-family: "GowunBatang-Regular";
  margin: 0 auto;
}
/* 상단메뉴바 */

.subnav body_wrap {
  display: flex;
  text-align: center;
  align-items: center;
}

.mainav {
  text-align: center;
  align-items: center;
}

.maintitle {
  text-decoration: none;
  font-family: "GowunBatang-Regular";
  font-size: 16px;
  color: #4a4848;
  font-weight: bold;
}
#maintitle0 {
  margin-right: 25px;
  padding: 20px;
}
.mainnav1 {
  position: absolute;
  display: flex;
  padding: 30px;
  top: 29px;
  z-index: 100;
}
#line {
  text-decoration: none;
}
#line1 {
  font-size: 16px;
  color: #4a4848;
  text-align: center;
}
/* ----------------헤더 끝 ---------------------------*/
/* 슬라이드 박스 -----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menuslide .menuul {
  width: 1350px;
  height: 520px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  /* text-align: center; */
}
.menuslide ul {
  width: 4050px;
  position: absolute;
}
.menuslide ul li {
  float: left;
  width: 1350px;
  height: 520px;
}
#slideimg {
  width: 1350px;
}
/* 2 */
#aaaa {
  display: flex;
}
/* footer ---------------------*/
.footerinfo {
  color: #fff;
}
.footer_head {
  border-bottom: 1px solid #3d3d49;
}
.footer_head > div {
  display: flex;
  justify-content: space-between;
  height: 77px;
  align-items: center;
}
.body_wrap {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.ft_menu {
  display: flex;
  font-size: 14px;
  font-weight: 700;
}
.ft_subinfos {
  display: flex;
}
.gopc {
  padding: 20px 0;
  border-top: 1px solid #403f50;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #272734;
}
footer {
  background-color: #342728;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
#titleimg1 {
  width: 120px;
  margin-top: 5px;
}
.ft_sns {
  display: flex;
  margin-bottom: 25px;
}
.copybox {
  padding-top: 30px;
  font-family: "GowunBatang-Regular";
  font-size: 14px;
}
.ft_subinfos > div:last-child {
  padding: 28px 0 35px 25px;
  font-family: "GowunBatang-Regular";
}
#sns {
  width: 30px;
  margin-right: 10px;
}
.ft_menu li {
  border-right: 1px solid #f0f0f0;
  margin-right: 10px;
  list-style: none;
  color: rgb(255, 255, 255);
}
a:visited {
  color: inherit;
}
.azx {
  position: relative;
  left: 600px;
}
/* ----- */
#wrap {
  width: 100%;
  margin: 0 auto;
  height: 2000px;
  display: flex;
  justify-content: center;
}
/* 2 */
/* .mmm {
  display: flex;
} */
#aaaa {
  width: 1350px;
}
.qwert {
  position: relative;
  top: 500px;
}
/* 3 */
.qwerty {
  position: relative;
  top: 500px;
  font-family: "GowunBatang-Regular";
  color: #333333;
  font-weight: bold;
}

.plus {
  float: right;
}

.qwerty span:nth-child(1) {
  font-size: 25px;
}

.review {
  border: 1px solid;
  border-color: #cacaca;
  width: 1350px;
  height: 520px;
}
/* 4 */
.total {
  position: relative;
  top: 550px;
  display: flex;
  font-size: 25px;
}
#one {
  width: 33%;
  height: 360px;
  margin-right: 20px;
  font-family: "GowunBatang-Regular";
  color: #333333;
  font-weight: bold;
}
#plus {
  font-size: 15px;
  float: right;
}
#plus1 {
  border-top: 2px solid;
  border-top-color: #fd8f9f;
}
